@model IEnumerable<WebShop.Data.Models.ShopUser>

<h2> List user</h2>
<table class="table">
  @foreach (var user in Model)
  {
    <tr>
      <td>@user.UserName</td>
      <td>
        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Permissions</a>
      </td>
    </tr>
  }
</table>