@model WebShop.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "sign in";
}

<h1 style="font-size: 45px; margin-bottom: 50px;">Log In</h1>
<form id="login_sign_in" class="" method="post" autocomplete="off" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="" data-validate="Enter username">
        <input class="" placeholder="User Name" asp-for="UserName">
        <span class="" data-pl-validation-for="UserName"></span>
    </div>

    <div class="" data-validate="Enter password">
        <input class="" placeholder="Password" asp-for="Password">
        <span class="" data-placeholder="&#xe80f;" asp-validation-for="Password"></span>
    </div>
    <div style="align-self: center;" class="">
        <button class="btn">
            Sign In
        </button>
    </div>
</form>
<br />
<div style="display: flex; font-size: 20px;" class="">
    <h5 style="font-size: 20px;">Don't have an acount? <a class="" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" asp-controller="Account">Sign Up</a></h5>
</div>
